*{
    margin: 0;

}

.contenedor{
    background-image: url("https://i.pinimg.com/originals/62/48/2a/62482a319b12f9d6775909e83b33ba4c.jpg");
    background-size: cover;
    color:white;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

p{
    font-size: x-large;
    padding: 10%;
}

button{
    font-size: x-large;
    padding: 0.75 em;
}

#yesBtn{
    transform: translate(-30%,0);
}

#noBtn{
    position: absolute;
}
